<!-- Simple login form -->
<form [formGroup]="loginForm" (ngSubmit)='onSubmit()'>
  <div class="panel panel-body login-form">
    <div class="text-center">
      <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
      <h5 class="content-group">Login<small class="display-block">Enter your credentials below</small></h5>
    </div>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username"  [formControl]="loginForm.get('username')">
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <input matInput type="password" matInput placeholder="Password"  [formControl]="loginForm.get('password')">
    </mat-form-field>



    <div class="form-group">
      <button type="submit"  [disabled]="!loginForm.valid" class="btn bg-pink-400 btn-block">Login<i class="icon-circle-right2 position-right"></i></button>
    </div>

    <div class="text-center">
      <a routerLink="/register" >Not a member?</a>
    </div>
  </div>
</form>
<!-- /simple login form -->
